.header-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 150px;

  margin: 0 auto;
  padding: 0;

  background-color: #5c9ce6;
}

.header__h2 {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #dfefff;
}