.header-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;

  margin: 0 auto;
  padding: 0;

  background-color: #5c9ce6;
}

.header__h2 {
  margin: 0;
  padding: 0;


  font-size: 2em;
  font-weight: bold;
  color: #dfefff;
}